.courses-page {
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .it-legend-card {
    user-select: none;
    width: 100vw;
    height: 270px;
    position: relative;
    text-align: center;
    align-content: center;
    font-size: clamp(1rem, 5vw, 1.75rem);
    white-space: nowrap;
    contain: content;
    background-image: linear-gradient(
      to right,
      var(--color-primary80),
      var(--color-primary50),
      var(--color-primary30)
    );

    & > svg {
      width: clamp(850px, 100%, 1700px);
      position: absolute;
      top: 50%;
      left: 50%;
      translate: -50% -40%;
      opacity: 0.1;
      z-index: -1;
    }
  }

  & > .content {
    margin: 70px auto;
    width: 100%;
    box-shadow: 0 0 30px 0.5px light-dark(#00000030, #ffffff20);
    border-radius: 5px;

    & > .filter-icon {
      width: 100%;
      padding: 10px 10px 0 0;
      display: none;

      & > :only-child {
        background-color: light-dark(#dddddd, #353535);
        width: fit-content;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline-start: auto;
        width: 40px;
        aspect-ratio: 1;
        position: relative;
        transition-property: filter, transform;
        transition-duration: var(--transition-duration-global);

        &:hover {
          filter: drop-shadow(0 0 1px #00000070);
          transform: scaleX(1.1) scaleY(1.1);
        }

        &:has(input:checked) {
          & > i {
            color: var(--color-primary);
          }
        }

        & > i {
          position: absolute;
        }

        & > input {
          cursor: pointer;
          appearance: none;
          width: 100%;
          aspect-ratio: 1;
          border-radius: inherit;
          z-index: 1;

          &:checked {
            background-color: var(--color-primary30);
          }
        }
      }

      @media (max-width: 650px) {
        display: flex;

        &:has(#filterToggle:checked) + .filter {
          display: block;
        }
      }
    }

    & > .filter {
      width: 80%;
      padding: 15px;
      text-align: center;
      margin: 30px auto;
      border-radius: 10px;

      & > h3 {
        padding: 10px;
        width: fit-content;
        margin-inline: auto;
        margin-block-end: 25px;
        border-radius: 7px;
        font-family: Arial;
      }

      & > #coursesFilter {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;

        & > input {
          appearance: none;
          background-color: #77777750;
          padding: 5px 7px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color var(--transition-duration-global);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:hover {
            background-color: light-dark(#bbbbbb, #777777);
          }

          &:checked {
            background-color: var(--color-primary95);
          }

          &::before {
            content: attr(data-title);
          }
        }
      }

      @media (max-width: 650px) {
        display: none;
        animation: fade-in 2s forwards;
        overflow: hidden;
      }
    }

    & > #_title {
      width: 100%;
      text-align: center;
      font-weight: bolder;
      font-size: clamp(1.25rem, 5vw, 1.75rem);
      background-color: light-dark(#eeeeee, #292929);
      padding: 10px;
      margin-block: 30px;
    }

    & > #courses_rt {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      width: 100%;
      margin-block-end: 35px;
      padding: 15px;

      &:has(.course-card:hover) .course-card:not(:hover) {
        filter: grayscale(100%);
      }

      & > .course-card {
        flex-basis: 300px;
        border-radius: 10px;
        background-color: light-dark(#eee, #292929);
        transition-property: scale, filter, opacity;
        transition-duration: var(--transition-duration-global);
        animation-name: fade-in, settle-bottom;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-delay: calc(0.15s * var(--i));
        opacity: 0;

        &:hover {
          filter: drop-shadow(0 0 7px light-dark(#aaa, #444444));
          scale: 1.01;
        }

        & > img {
          width: 100%;
          aspect-ratio: 16/9;
          max-width: 100%;
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
        }

        & > .details {
          display: flex;
          flex-direction: column;
          gap: 15px;
          padding: 15px;

          & > hr {
            background-color: var(--color-primary);
            height: 1px;
            margin-block-start: 10px;
          }

          & > .by {
            opacity: 0.75;
          }

          & > .price {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}
