<div class="course-page">
  <div class="course-card">
    <div class="container">
      <svg
        version="1.0"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 277.000000 583.000000"
        preserveAspectRatio="xMidYMid meet"
      >
        <g
          transform="translate(0.000000,583.000000) scale(0.100000,-0.100000)"
          fill="light-dark(#fff, #000)"
          stroke="none"
        >
          <path
            d="M1975 5697 c-554 -353 -997 -603 -1633 -921 -243 -122 -275 -141
    -298 -176 -39 -58 -35 -109 19 -270 132 -388 193 -779 204 -1295 12 -587 -57
    -1087 -214 -1545 -59 -173 -58 -238 3 -291 11 -9 219 -117 464 -241 654 -331
    947 -498 1586 -906 44 -29 91 -52 103 -52 30 0 77 25 85 45 17 47 14 57 -143
    402 -54 120 -145 331 -201 468 -59 143 -113 262 -128 277 -34 37 -82 52 -146
    44 -209 -27 -458 92 -560 266 -34 60 -76 208 -83 299 -12 152 45 289 171 414
    44 44 104 93 133 108 68 36 166 57 273 57 150 0 282 -49 387 -145 l57 -51 -26
    -35 c-68 -92 -62 -197 16 -275 54 -54 110 -71 185 -56 136 28 185 133 146 315
    -49 233 -268 469 -515 556 -28 10 -52 22 -53 27 -3 16 219 85 293 91 94 8 151
    -9 214 -65 99 -88 208 -110 308 -62 166 78 199 309 63 429 -54 47 -100 64
    -175 64 -77 1 -131 -23 -201 -88 -57 -53 -124 -71 -222 -61 -71 8 -279 75
    -279 91 0 5 22 17 49 26 299 101 532 399 533 680 0 99 -76 182 -178 196 -119
    16 -232 -87 -232 -212 0 -34 32 -110 58 -138 16 -18 15 -21 -34 -66 -104 -95
    -248 -151 -396 -151 -207 0 -363 83 -482 257 -95 140 -117 274 -72 448 15 55
    37 123 51 150 90 184 341 313 567 291 74 -8 118 5 154 45 12 13 68 137 124
    274 56 138 144 342 195 455 51 113 107 236 124 274 38 85 40 128 6 161 -46 47
    -71 38 -300 -108z m-907 -2380 c89 -90 162 -170 162 -179 0 -8 -9 -27 -21 -42
    -38 -49 -62 -38 -191 91 l-118 117 -118 -117 c-95 -94 -124 -117 -147 -117
    -38 0 -65 26 -65 63 0 26 24 55 158 189 86 87 162 158 167 158 6 0 84 -73 173
    -163z m-286 -674 l118 -117 118 117 c129 129 153 140 191 91 12 -15 21 -34 21
    -42 0 -9 -74 -90 -165 -181 l-165 -166 -165 165 c-172 172 -185 192 -148 232
    9 10 30 18 46 18 25 0 50 -20 149 -117z"
          />
        </g>
      </svg>

      <div class="card-info">
        <h4 class="course-title">IT LEGEND COURSE TITLE</h4>

        <p class="course-description">
          IT Legend Course Overview The IT Legend course is a comprehensive
          program designed to transform aspiring tech enthusiasts into
          industry-ready professionals. This course covers a broad spectrum of
          essential IT skills, including programming, web development,
          cybersecurity, cloud computing, and data analysis. With hands-on
          projects, real-world scenarios, and expert mentorship, participants
          gain practical experience and a deep understanding of modern
          technologies.
        </p>
      </div>

      <a-link to="/study" class="card-img" relative>
        <img src="/it-legend.webp" loading="lazy" alt="course-photo" />
        <i class="fa-solid fa-circle-play"></i>
      </a-link>
    </div>
  </div>

  <div class="content">
    <div class="course-info">
      <div class="what-to-learn card">
        <h2>What you'll learn</h2>

        <div>
          <div>
            <i class="fa-solid fa-check"></i>
            <p>
              Full-Stack Development: Build web apps with HTML, CSS, JavaScript,
              React, and Node.js.
            </p>
          </div>

          <div>
            <i class="fa-solid fa-check"></i>
            <p>
              Cybersecurity: Learn threat analysis and data protection basics.
            </p>
          </div>

          <div>
            <i class="fa-solid fa-check"></i>
            <p>Cloud Computing: Get started with AWS and Azure services.</p>
          </div>

          <div>
            <i class="fa-solid fa-check"></i>
            <p>Data Analysis: Analyze data using Python and SQL.</p>
          </div>

          <div>
            <i class="fa-solid fa-check"></i>
            <p>Project Management: Explore Agile and Scrum practices.</p>
          </div>
        </div>
      </div>

      <div class="description card">
        <h2>Course Description</h2>
        <p>
          Welcome to the “IT LEGEND BLA BLA” course. IT Legend Course Overview
          The IT Legend course is a comprehensive program designed to transform
          aspiring tech enthusiasts into industry-ready professionals. This
          course covers a broad spectrum of essential IT skills, including
          programming, web development, cybersecurity, cloud computing, and data
          analysis. With hands-on projects, real-world scenarios, and expert
          mentorship, participants gain practical experience and a deep
          understanding of modern technologies.
        </p>
      </div>

      <div class="curriculum card">
        <h2>Curriculum</h2>

        <div>
          <div class="drop-down-menu">
            <div class="menu-toggle">
              <span class="title">Introduction to IT</span>
              <input type="checkbox" name="drop-menu-toggle" />
              <i class="fa-solid fa-chevron-up"></i>
            </div>

            <div class="menu">
              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item"
                  >Basics of computer systems</span
                >
                <p class="duration">00:05:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">networking</span>
                <p class="duration">00:10:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">software</span>
                <p class="duration">00:07:10</p>
              </div>
            </div>
          </div>

          <div class="drop-down-menu">
            <div class="menu-toggle">
              <span class="title">Web Development</span>
              <input type="checkbox" name="drop-menu-toggle" />
              <i class="fa-solid fa-chevron-up"></i>
            </div>

            <div class="menu">
              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">HTML</span>
                <p class="duration">00:05:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">CSS</span>
                <p class="duration">00:10:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">JavaScript</span>
                <p class="duration">00:07:10</p>
              </div>
            </div>
          </div>

          <div class="drop-down-menu">
            <div class="menu-toggle">
              <span class="title">Backend Programming</span>
              <input type="checkbox" name="drop-menu-toggle" />
              <i class="fa-solid fa-chevron-up"></i>
            </div>

            <div class="menu">
              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">Node.js</span>
                <p class="duration">00:05:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">Database</span>
                <p class="duration">00:10:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">Express</span>
                <p class="duration">00:07:10</p>
              </div>
            </div>
          </div>

          <div class="drop-down-menu">
            <div class="menu-toggle">
              <span class="title">Data Analysis</span>
              <input type="checkbox" name="drop-menu-toggle" />
              <i class="fa-solid fa-chevron-up"></i>
            </div>

            <div class="menu">
              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">Python</span>
                <p class="duration">00:05:15</p>
              </div>

              <div class="menu-item">
                <i class="fa-solid fa-play"></i>
                <span class="name" title="Course Item">SQL</span>
                <p class="duration">00:10:15</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="course-features">
      <div class="features card">
        <h2>Course Features</h2>

        <div class="info">
          <p>69H 4M Hours of Video</p>
          <p>Full Lifetime Access</p>
          <p>30 Day Money Back Guarantee</p>
          <p>Interactive telegram group</p>
          <p>Free project consultation sessions</p>
          <p>Job Opportunities</p>
        </div>

        <h3 class="price">Free</h3>

        <button class="button">ADD TO CART</button>

        <a-link to="/study" relative>
          <button class="button empty">LEARN NOW</button>
        </a-link>
      </div>

      <div class="material card">
        <h2>This Course Includes</h2>

        <div>
          <div>
            <span>Lecutres</span>
            <span>21</span>
          </div>
          <div>
            <span>Duration</span>
            <span>69H 4M</span>
          </div>
          <div>
            <span>Level</span>
            <span>Beginner</span>
          </div>
        </div>
      </div>

      <div class="instructor card">
        <h2>Presented By</h2>
        <h3>Ali Shahin</h3>
        <img src="/ali-shahin.webp" alt="ali" />
      </div>
    </div>
  </div>
</div>
